// Color Palatte (Replace these)
$salmon: salmon;
$seagreen: seagreen;
$mediumaquamarine: mediumaquamarine;
$whitesmoke: whitesmoke;
$dimgrey: dimgrey;

// Site colors
$site-colors: (
  'primary': $seagreen,
  'accent': $salmon,
  'secondary': $mediumaquamarine,
  'foreground': $dimgrey,
  'background': $whitesmoke
);

$site-opacity: (
  'light': 0.4,
  'dark': 0.8
);